/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* general */

html {font-family: 'Alegreya', serif;}

body {
	background-color: var(--color-primary);
	text-align: center;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;}

/* styles */

p, td, ul, li {
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
	color: var(--color-font);}

th, h1, h2, h3 {
	margin-left: auto;
	margin-right: auto;
	font-weight: 500;
	color: var(--color-highlight);}

p {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	line-height: 1.4rem;}

th, td, ul, li {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.3rem;}

h1 {
	font-size: min(4.2vw, 25px);
	margin-top: 0.25rem;
	margin-bottom: 0;}

h2 {
	font-size: 1.4rem;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;}

h3 {
	font-size: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;}

ul {
	display: inline-block;
	list-style-position: inside;
	text-align: left;
	margin-left: 1.5rem;
	padding-left: 0;}

p.centerjustify {
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;}

p.justify {
	text-align: justify;}

p.bolditalic {
	font-style: italic;
	font-weight: 500}

p.comment {
	text-align: justify;
	font-size: 0.8rem;
	width: min(97vw, 40rem);
	line-height: 1rem;}

p.centercomment {
	font-size: 0.8rem;
	line-height:1rem;}

/* tables */

table {
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;}

th {
	font-weight: bold;
	color: var(--color-highlight);
	border-top: 2px solid var(--color-border);}
	
thead th {
	border-bottom: 2px solid var(--color-border);}

table.buildtable {border-bottom: 2px solid var(--color-border);}
table.benchmarktable {border-bottom: 2px solid var(--color-border); padding-top: 1.5rem;}

table.script {width: min(93vw, 50rem);}
table.script td, table.script th {
	border-bottom: 1px solid var(--color-border);
	text-align: left;}

col.buildlhs {width: 26rem; text-align: left;}
col.buildrhs {width: 3.5rem;}
col.benchmarklhs {width: 22rem;}
col.benchmarkrhs {width: 3rem;}
col.scriptlhs {width: 6rem;}

col.perfectlhs {width: 6rem;}
col.perfectmid {width: 3rem;}
col.perfectgap {width: 1rem;}
col.perfectrhs {width: 6rem;}

table.perfect td:nth-child(1) {font-weight: 500;}

/* images */

img.resource {width: 1.5rem; height: 1.5rem; vertical-align: middle;}
img.full {width: min(93vw, 50rem); height: min(52.3125vw, 28.125rem); border-radius: 0.25rem; margin-top: 0.5rem; margin-bottom: 0.25rem;}
img.half {width: min(46.5vw, 25rem); height: min(26.15625vw, 14.0625rem); border-radius: 0.25rem; margin-top: 0.5rem; margin-bottom: 0.25rem;}